# Lemon Squeezy Keys
LEMONSQUEEZY_STORE_ID=
LEMONSQUEEZY_VARIANT_ID=
LEMONSQUEEZY_API_KEY=
LEMONSQUEEZY_WEBHOOK_SECRET=

# Public Variant IDs for Plans
NEXT_PUBLIC_LEMONSQUEEZY_VARIANT_MONTHLY=
NEXT_PUBLIC_LEMONSQUEEZY_VARIANT_QUARTERLY=
NEXT_PUBLIC_LEMONSQUEEZY_VARIANT_ONETIME=

# Other
NEXT_PUBLIC_APP_URL=http://localhost:3000
